// Colors
$ami-purple: #932682;
$ami-purple-hover: #B22C9D;
$ami-blue: #003B78;
$ami-blue-hover: #004B99;
$ami-light-blue: #CCD6E1;
$ami-text: #333333;
$ami-border-radius: 25px;
$ami-box-shadow: 0 2px 3px 1px #00000040;

//Other
$ami-transition: all .3s;