:root {
    --ami-purple: #932682;
    --ami-blue: #003B78;
    --ami-text: #333333;
    --ami-border-radius: 25px;
}

@import "~bootstrap/scss/bootstrap";

body.page-template-callback-discussion {
    > .boxed-container {
        width: 100% !important;
    }

    h1, h2, h3, h4, h5, h6, p, a {
        font-family: "Montserrat", sans-serif;
    }

    p {
        font-size: 16px;
    }

    @import "_partials/header";
    @import "_partials/footer";
    @import "_partials/cards";
}