.header__container {
  background: var(--ami-blue);

  &:before, &:after {
    display: none;
  }

  header {
    display: block;

    .header-logo {
      display: flex;
      align-items: center;

      .main-header-text {
        margin: 0 0 0 20px;
        color: #ffffff;
        font-weight: 600;
      }

      img {
        width: 130px;
      }
    }

    .header-content {
      background-color: #ffffff;
      border-radius: var(--ami-border-radius);
      padding: 30px 35px;
      margin-top: 30px;
      box-shadow: var(--ami-box-shadow);
      position: relative;
      z-index: 1;

      .cta-button {
        background-color: var(--ami-purple);

        &:hover {
          background-color: var(--ami-purple-hover)
        }
      }
    }

    .header-img {
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
}